@tailwind base;
@tailwind components;
@tailwind utilities;





body {

  background-color: black; /* No es necesario !important si no hay conflictos de especificidad */
}






body {
  background-color: black !important;
}

.w-full {
  height: 400px !important;
}

.card {
  width: 300px;
  height: 200px !important;
}